.chatContainer {
    max-width: 40rem;
    margin: 2.5rem auto;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background: var(--background);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .chatTitle {
    color: var(--foreground-primary);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .messagesContainer {
    height: 16rem;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .message {
    padding: 0.5rem;
    border-radius: 0.5rem;
    max-width: 70%;
  }
  
  .myMessage {
    background-color: var(--info);
    color: var(--foreground-primary);
    align-self: flex-end;
    text-align: right;
  }
  
  .otherMessage {
    background-color: var(--neutral);
    color: var(--foreground-primary);
    align-self: flex-start;
    text-align: left;
  }
  
  .inputContainer {
    display: flex;
    gap: 0.5rem;
  }
  
  .inputField {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid var(--foreground-primary);
    border-radius: 0.5rem;
  }
  
  .link {
    color: var(--foreground-primary);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .link:hover {
    color: var(--info-text);
    text-decoration: underline;
  }