.layoutContainer {
    background: var(--background);
    color: var(--foreground-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .navBar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--foreground-primary);
    cursor: pointer;
  }
  
  .contentContainer {
    flex-grow: 1;
    padding: 20px;
  }
  .userButton {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto; 

}