.layoutContainer {
    background: var(--background);
    color: var(--foreground-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .navBar {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    color: var(--foreground-primary);
  }
  
  .contentContainer {
    flex-grow: 1;
    padding: 20px;
  }
  