.Container{
    background: var(--background);
    padding: 20px;
    border: 1px solid var(--background-pattern);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.Header{
    color: var(--foreground-primary);
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid var(--background-pattern);
    margin-bottom: 15px;
}

.TableHeader{
    font-weight: 16px;
    padding-right: 8px;
    text-align: left;
    color: var(--foreground-primary);
    border-right: 1px solid var(--background-pattern);
    margin: 10px;
}

.TableData{
    padding-left: 10px;
    color: var(--foreground-secondary);
}