@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-pattern: #97c9f8;
  --background: hsl(0, 0%, 90%);
  --menu: hsl(0, 0%, 70%);
  --menu-hightlight: hsl(0, 0%, 80%);

  --red: #ef476f;
  --red-light: #f8c7ce;
  --red-dark: #b8294f;
  --red-foreground: #470919; 
 
  --orenge: #ff6600;
  --orange-light: #f8b9a0;
  --orange-dark: #87471d;
  --orange-foreground: #2b1304;

  --yellow: #ffd166;
  --yellow-light:  #f8dd9e ;
  --yellow-dark: #7e6200; 
  --yellow-foreground: #2f2300;

  --green: #5effc7;
  --green-light: #00ebac;
  --green-dark: #028260;
  --green-foreground: #003626;

  --blue: #118ab2;
  --blue-light: #e3f3ff;
  --blue-dark: #096482;
  --blue-foreground: #01202c ;

  --purple: #3626a7;
  --purple-light: #cfcdf6;
  --purple-dark: #3626a7;
  --purple-foregraund: #1b115f;

  --gray: #98999b;
  --gray-light: #d6d3d3;
  --gray-dark: #474040;
  --gray-foreground: #262122;

  --foreground:#000000;
  --foreground-light: #ffffff;
}

[data-theme="dark"] {
  --background: hsl(0, 0%, 10%);;
  --background-pattern: #8a817c;
  --menu: hsl(0, 0%, 45%);;
  --menu-hightlight: hsl(0, 0%, 50%);

  --foreground:#bdbbb7;
  --foreground-light: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  opacity: 1;
  background-image:  radial-gradient(var(--background-pattern) 1.05px, transparent 1.05px), radial-gradient(var(--background-pattern) 1.05px, var(--background) 1.05px);
  background-size: 42px 42px;
  background-position: 0 0,21px 21px;
}

