.green{
    background: var(--green);
    color: var(--green-foreground);
    font-weight: bold;
    border-radius: 8px;
}
.green:hover{
    background: var(--green-light);
}
.green:active{
    background: var(--green-dark);
}

.red{
    background-color: var(--red);
    color: var(--red-foreground);
    font-weight: bold;
    border-radius: 8px;
}

.red:hover{
    background: var(--red-light);

}
.red:active{
    background: var(--red-dark);
}

.gray{
    background-color: var(--gray);
    color: var(--gray-foreground);
    font-weight: bold;
    border-radius: 8px;
}
.gray:hover{
    background: var(--gray-light);
}
.gray:active{
    background: var(--gray-dark);
}

/* Sizes */
.small{
    padding: 5px 20px;
    margin: 5px;
    font-size: 14px;
}

.middle{
    padding: 10px 35px;
    margin: 5px;
    font-size: 16px;
}

.big{
    padding: 15px 50px;
    margin: 5px;
    font-size: 18px;
}