.container{
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.childrenContainer {
    display: flex;
    flex-direction: column; /* Изменяем направление на вертикальное */
    justify-content: center; /* Центрируем элементы по вертикали */
    height: 100%; /* Убедитесь, что контейнер занимает всю высоту родителя */
    width: 100%;
}

.Header{
    display: flex;
    align-items: center;
    font-size: 32px;
    color: var(--foreground-primary)
}